div {
    height: 200px;
    width: 200px;
}


#first {
    background-color: #A0D8B3;
    padding: 20px;
    border: 10px solid black;
}

#second {
    background-color: #A2A378;
    border: solid black;
    border-width: 20px 10px;
    margin-left: 260px;
}

#third {
    background-color: #C07F00;
    border: 10px solid black;
    margin-left: 40px;
}

p {
    margin: 0px;
}